*{
    font-family: $font-stack-copy;
}

h1 {
    font-family: $font-stack-header;
    font-weight: 900;

    @media only screen and (max-width: 700px){
        margin: 0;
    }
}

h2,
h3,
h4,
h5,
h6 {
    font-family: $font-stack-subheader;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.wrapper {
    width: calc(100% - 40px);
    max-width: 600px;
    margin: 0 auto;
    flex: 1 0 auto;
    padding: 20px;
}

.wide-wrapper{
    width: calc(100% - 40px);
    max-width: 1100px;
    margin: 0 auto;
    flex: 1 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;

    h1{
        text-align: center;
    }
}

.index-cta-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .index-cta{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $color_black;
        margin-bottom: 40px;

        h2{
            white-space: nowrap;
            display: inline;
            background-image: linear-gradient($color-green, $color-green);
            background-size: 100% 0.4em;
            background-repeat: no-repeat;
            background-position: 0 1.1em;
        }

        p{
            text-align: center;
        }

        .fas{
                font-size: 60px;
                margin-top: 20px;
        }

        &:hover{
            text-decoration: none;
            h2{
                color: $color-green;
            }
            .fas{
                color:$color-green;
            }
        }
    }

    @media only screen and (max-width: 700px) {
        flex-direction: column;
        
        .index-cta{
            width: 100%;
            margin-bottom: 20px;

            h2{
                margin-bottom: 0;
            }
            .fas{
                margin: 0;
            }
        }
    }
}

footer {
    flex-shrink: 0;
}

img{
    max-width: 100%;
    max-height: 100%;
}

a{
    color: $color_green_dark;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

ul{
    list-style: none;
    li{
        position: relative;
        padding-bottom: 20px;
        &:before{
            position: absolute;
            content: '\f0a9';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            font-size: 24px;
            left: -35px;
            color: $color_green_dark;
            top:calc(50% - 10px);
            transform: translateY(-50%);
        }
    }
}

.event-wrapper{
    &:not(:last-child){
        margin-bottom: 60px;
    }
}

.contact-us-social{
    font-size: 40px;
    a{
        padding-right: 20px;
    }
}
