header {
    .mobile-header {
        height: 40px;
        padding: 10px 0;
        display: none;
        flex-direction: column;
        justify-content: center;

        a {
            color: $color_black;
            text-decoration: none;
            font-size: 40px;
            padding-left: 12px;

            img {
                height: 30px;

                @media only screen and (max-width: 360px) {
                    height: 24px;
                }
            }
        }

        .toggle {
            display: flex;
            position: absolute;
            top: 17px;
            right: 20px;

            span {
                width: 30px;
                height: 25px;
                background: transparent;
                border: 0;
                position: relative;
                cursor: pointer;

                i {
                    background: $color_black;
                    position: absolute;
                    border-radius: 5px;
                    height: 20%;
                    right: 0;
                    transition: all 0.5s;

                    &:nth-child(1) {
                        width: 100%;
                        top: 0;
                    }

                    &:nth-child(2) {
                        width: 75%;
                        top: 40%;
                    }

                    &:nth-child(3) {
                        width: 50%;
                        top: 80%;
                    }
                }
            }

            &.is-active {
                span i {


                    &:nth-child(1) {
                        width: 100%;
                        top: 40%;
                        transform: rotate(45deg);
                    }

                    &:nth-child(2) {
                        width: 100%;
                        top: 40%;
                        transform: rotate(-45deg);
                    }

                    &:nth-child(3) {
                        width: 0%;
                        top: 80%;
                        transition: all 0s;
                    }
                }
            }
        }

        @media only screen and (max-width:700px) {
            display: flex;
        }
    }

    .header-primary{
        max-width: 1000px;
        margin: 20px auto;
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        img{
            height: 120px;
        }

        .social-icons{
            font-size: 32px;
            display: flex;
            flex-direction: row;
            align-items: center;

            a{
                padding: 10px;
                color: $color_black;

                &:hover{
                    color: $color_green;
                }
            }

            span{
                display: none;
            }
        }
    }

    .hashtag-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            margin: 0;
            font-size: 48px;
            font-weight: 900;

            @media only screen and (max-width: 900px){
                font-size: 32px;
            }
        }
    }

    .desktop-nav-wrapper{
        background-color: $color_green;
    }

    nav.desktop-nav {
        max-width: 1100px;
        margin: 0 auto;
        display: grid;
        grid-auto-flow: column;

        .logo {
            display: none;
            justify-self: center;
        }

        a {
            display: inline-block;
            color: $color_white;
            font-size: 16px;
            line-height: 30px;
            height: 30px;
            text-align: center;
            text-decoration: none;
            white-space: nowrap;
            &.active {
                text-decoration: underline;
            }

            &:hover,
            &:focus,
            &:active {
                text-decoration: underline;
            }
        }

        @media only screen and (max-width: 700px) {
            display: none;
        }

        @media only screen and (min-width: 701px) {
            .social-icons{
                display: none;
            }
            >a {
                padding: 10px;
            }
        }
    }

    @media only screen and (max-width: 700px) {
        .header-primary{
            display: none;
        }

        nav.desktop-nav {
            display: block;
            position: absolute;
            height: 0;
            transition: max-height 0.5s;

            a {
                text-decoration: none;
                text-align: unset;
                padding: 0 0 0 30px;
                border-left: none;
                display: block;
                background-color: $color_white;
                opacity: 0;
                transition: opacity 0.5s, max-height 0.5s;
                width: calc(100% - 10px);
                max-height: 0;
                color: $color_green;
                height: 50px;
                line-height: 50px;
                &:last-child {
                    border-right: none;
                }

            }

            &.expanded {
                max-height: 100px;
                margin: 0 0 -20px;
                z-index: 100;
                width: calc(100% - 20px);

                a:last-child {
                    padding-bottom: 20px;
                    position: relative;
                }

                a {
                    opacity: 1;
                    max-height: 50px;
                    margin: -1px 0;
                }

                .social-icons {
                    padding-left: 20px;
                    position: relative;
                    background-color: white;

                    a {
                        display: inline-block;
                        width: unset;
                        font-size: 32px;
                        padding-left: 10px;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 60px;
                        left: calc(50% - 64px);
                        right: calc(50% - 64px);
                        border: solid 1px $color_grey_very_light;
                    }

                    span{
                        color: $color_black;
                        display: none;
                    }
                }
            }
        }
    }
}